@media (max-width: 1160px){}
@media (max-width: 1025px){}
@media only screen and (max-width:991px){
    /*RESPONSIVE NAVIGATION*/
    .mobile-menu{
      display: block;
    }
    /*RESPONSIVE NAVIGATION*/
  }
@media only screen and (max-width: 576px){
  section.first-banner::before, section.first-banner::after{
    visibility: hidden;
  }
  .first-banner-heading p {
    margin-top: 16px;
    width: 100%;
    /* font-size: 14px; */
}
.modal-dialog {
    width: 380px;
}
.floatbutton{
    display:none;
}
.first-banner-button ul li a{
  font-size: 14px;
}
.first-banner-button{
  margin-bottom: 30px;
}
.first-banner-form{
  width: 90%;
}
.second-main-image .second-rotate-btn img
 {
    width: 100px;
}
.second-main-image .second-rotate-btn
 {
    left: 37.6%;
        top: -84px;
}
.second-banner::before {
    width: 130px;
    height: 117px;
}
section.second-banner {
    padding: 10px 0 60px;
}
.second-banner-marq h3 {
    font-size: 14px;
}
.second-banner-marq {
    padding: 10px 16px;
}
.second-banner-heading h1 {
    font-size: 24px;
}
.second-banner .nav-tabs .nav-link {
    font-weight: 500;
    font-size: 14px;
}
.first-banner-heading h1 {
    font-size: 30px;
    line-height: 38px;
  }
.tab-content .img-fluid{
  width: 100%;
}
.second-banner .nav-tabs{
    width: 100%;
    padding: 10px 0;
}
.banner-form-heading {
    padding-top: 0px;
}
.banner-form-heading h1 span {
    font-size: 36px;}
    .banner-form-heading h1 {
    font-size: 24px;
}
.first-banner-form form input{
    border-radius: 10px;
    padding: 12px 14px;
}
.first-banner-form form button {
    padding: 10px 20px;
    font-size: 13px;
  }
  .first-banner-form {
    padding: 40px 1px 40px;
  }
  .main-header{
    display: none;
  }
  .third-sec::before, .third-sec::after, .agency-tree-container::before, .brand-sec::before, .platform-image::after{
    visibility: hidden;
  }
  .second2-rotate-btn img{
    width: 100px;
  }
  .second2-rotate-btn {
    left: 37.6%;
    bottom: -2%;
}
.third-sec {
    padding: 140px 0px 0px;
  }
h2.sub-title {
    font-size: 24px;
    line-height: 36px;
}
p{
  font-size: 14px;
}
.btn-title{
  font-size: 14px;
}
h2.sub-title {
    margin: 20px 0px;
}
.agency-section {
    padding: 50px 0;
}
.agency-badge {
    padding: 8px 20px;
    font-size: 14px;}
    .agency-heading h1 {
    font-size: 24px;
  }
  .agency-heading p {
    font-size: 14px;
    margin: 0 auto 0px auto;
}
.trees-logo-img {
    padding-top: 16px;
}
.agency-tree-container {
    padding-bottom: 20px;
}
.pricing-heading h1 {
    font-size: 24px;
    width: 100%;
  }
.new-add .nav-tabs {
    width: 90%;
    padding: 8px 0;
}
.new-add .nav-tabs .nav-link {
    font-weight: 500;
    font-size: 14px;
}
.pkg-top-text p {
    font-size: 14px;
}
.pricebox h4 {
    font-size: 42px;
  }
  .pricebox h5 {
    font-size: 15px;
    line-height: 19px;}
    .scrollbar ul li {
    font-size: 14px;
    line-height: 26px;
  }
  .pkg-min-box button {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 13px;
  }
  .pkg-min-box {
    background-color: #f3f1f1;
    padding: 30px 30px;
    margin-bottom: 20px;
}
.first-banner-button ul{
  flex-wrap: wrap;
  row-gap: 40px;
}
section.decide-sec {
    padding: 50px 0 50px;
}

.decide-heading h1 {
    font-size: 24px;
    line-height: 1.5;
  }
.platform-head h1 {
    font-size: 24px;}
    section.platform-sec {
    padding: 0px 0 60px;
}
.brand-head h1 {
    font-size: 24px;
    line-height: 33px;
}
.brand-button a {
    font-size: 14px;
}
.brand-btn-2{
  flex-wrap: wrap;
}
.brand-image h1 {
    font-size: 50px;
}
section.brand-sec{
  padding: 40px 0;
}
.footer-button a {
    padding: 8px 20px;
    font-size: 14px;
  }
  .footer-head h1 {
    font-size: 24px;
    width: 80%;}
    footer.footer-sec {
    padding-top: 50px;
}
.owl-dots{
  display: none;
}
.bottom-footer{
  padding: 20px;
}
.first-banner {
    padding: 50px 0 150px;
}
}
@media (max-width: 475px){
    .modal-dialog {
    width: 380px;
}
.floatbutton{
    display:none;
}
}
@media (max-width: 320px){
    .modal-dialog {
    width: 380px;
}
.floatbutton{
    display:none;
}
}